<!-- <table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.customer.name }}</td>
            <td>${{ sale.total_amount }}</td>
            <td>
                <a href="{{ url_for('customer_sales_report', customer_id=sale.customer.id) }}">View Details</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
