{% extends 'admin/base.html' %}

{% block content %}

<div class="app-wrapper">

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Stock Balance</h1>
            </div>

             <!-- Display total stock value at the top only on the first page -->
        {% if current_page == 1 %}
            <div class="alert alert-info">
                <h4><strong> Stock Value:</strong> N{{ total_stock_value }}</h4>
            </div>
            <div class="alert alert-info">
                <h4><strong>Total Sales Value:</strong> N{{ total_sales_value }}</h4>
            </div>
            <div class="alert alert-info">
                <h4><strong>Total Pending Balance:</strong>N{{ total_pending_balance }}</h4>
            </div>
        {% endif %}

            <!-- <hr>
            <h2>Total Stock Value: N{{ "%.2f"|format(total_stock_value) }}</h2> -->

            <div class="col-auto">
                 <div class="page-utilities">
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->
       
        
         
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">Product Name</th>
                                        <th class="cell">Price</th>
                                        <!-- <th class="cell">Quantity Sold</th> -->
                                        <th class="cell">Stock Balance</th>
                                        <th class="cell">Stock Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td class="cell">{{ product.name }}</span></td>
                                        <td class="cell">{{  "%.2f"|format(product.price) }} </td>
                                        <td class="cell">{{ product.stock }}</td>
                                        <!-- <td class="cell">{{ product.quantity_sold }}</td> -->
                                        <td class="cell">N{{ "%.2f"|format(product.stock_value()) }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                       
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->

                <!-- <hr>
                <h2>Total Stock Value: N{{ "%.2f"|format(total_stock_value) }}</h2> -->
                <!-- Pagination Controls -->
                
                
                <nav class="app-pagination">
                    <ul class="pagination justify-content-center">
                        {% if products.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('stock_balance', page=products.prev_num) }}" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% for page_num in range(1, products.pages + 1) %}
                            <li class="page-item {% if products.page == page_num %}active{% endif %}">
                                <a class="page-link" href="{{ url_for('stock_balance', page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}

                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('stock_balance', page=products.next_num) }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav><!--//app-pagination-->

            </div><!--//tab-pane-->
        </div><!--//tab-content-->    
        
    </div><!--//container-fluid-->
</div><!--//app-content-->


{% endblock %}